.homeh1 {
  color: white;
  margin-top: 20%;
  text-align: center;
  font-size: 50px;
}

.homep, .homep1 {
  color: white;
  text-align: center;
  font-size: 20px;
}

.homep2 {
  color: white;
  font-size: 15px;
  text-align: center;
  font-family: monospace;
  margin-top: 10%;
  font-style: oblique;
}

/* .search-box {
  background: #45a29e;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  width: 40%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  font-size: 20px;
  width: 95%;
}

.fa-search {
  color: white;
  font-size: 24px;
  margin-top: 1px;
} */

.browse {
  display: inline-block;
  font-size: 18px;
  padding: 5px 15px;
  border-radius: 5px;
  color: #fff;
  background-color: #1f2833;
  border: #1f2833;
  cursor: pointer;
}

.graph-link {
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #1f2833;
  border: #1f2833;
  cursor: pointer;
  color: #fff;
  font-variant: small-caps;
}

.searchAll {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

@media screen and (max-width: 960px) {
  .homeh1 {
    margin-top: 50%;
  }

  .homep {
    margin-bottom: 10%;
  }

  .homep1 {
    margin-top: 10%;
  }

  .search-box {
    width: 70%;
  }
  
  .search-txt {
    width: 90%;
  }

  .search-btn {
    position: absolute;
    margin: auto;
  }

  .graph-link {
    padding: 0 5px;
  }

  .homep2 {
    margin-top: 30%;
  }
}